@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,400;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Besley", serif;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  transition: 0.2s all linear;
}
*::selection {
  background: var(--main);
  color: #000;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form{
  color: #088178;
  text-size:30px;
}

.btn {
  font-size:10px;
  font-weight: 600;
  padding: 10px 20px;
  color: blue;
  background-color: #fff;
  border-radius: 8px;
  cursor: pointer;
  border: 1;
  outline: 1;
  transition: 0.2s;
}

input{
   background: transparent;
    padding: 10px 8px;
    font-size: 20px;
    color: #000;
    border-block-style: solid;
}

:root {
  --main: #088178;
  --box_shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
}

/* TopBar/Navbar */
.TopBar {
  position: fixed;
  background: #000;
  box-shadow: var(--box_shadow);
  padding: 0 20px;
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 2fr 10fr 0.5fr 1fr;
  align-items: center;
  z-index: 1000;
}
.logo h1 {
  color: var(--main);
  cursor: pointer;
}
.Search {
  position: relative;
  width: 60%;
  justify-self: center;
}
.Search input {
  width: 100%;
  height: 40px;
  min-width: 128px;
  padding: 0 40px;
  background: #ccc;
  border-radius: 10px;
  font-size: 16px;
}
.Search i {
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
}
.fa-bell {
  justify-self: right;
  cursor: pointer;
}
.TopBar .user {
  position: relative;
  height: 50px;
  width: 50px;
  justify-self: right;
}
.TopBar .user img {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

#notificationButton {
  position: relative;
  top: 1px;
  justify-self: right;
  right: 70px;
}

#notificationIcon {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  color: #088178;
}

#notificationCount {
  position: absolute;
  top: -2px;
  right: -10px;
  width: 20px;
  height: 20px;
  background-color: #f39c12;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

/* SideBar */
.SideBar {
  position: fixed;
  background: var(--main);
  top: 60px;
  width: 260px;
  overflow-x: hidden;
  height: calc(100% - 60px);
  z-index: 10000;
  box-shadow: var(--box_shadow);
}
.SideBar ul {
  margin-top: 10px;
}
.SideBar ul li {
  width: 100%;
}
.SideBar ul li:hover {
  background:black;
}
.SideBar ul li a {
  width: 100%;
  color: #fff;
  height: 60px;
  display: flex;
  align-items: center;
}
.SideBar ul li:hover a {
  color: var(--main);
}
.SideBar ul li a i {
  text-align: center;
  min-width: 60px;
  font-size: 24px;
}
/* Main  */
.Main {
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  min-height: calc(100vh - 60px);
  left: 260px;
  background: #f5f5f5;
}
.MainCard {
  width: 30%;
  padding: 50px 40px;
  display: block;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
/*  background:#000;*/

}
.MainCard .Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box_shadow);
  transition: 0.2s;
  margin-top: 15px;
}

.MainChartM {
  display: flex;
  width: 85%;
  padding: 60px;
  padding-top: 80px;
 margin-left: 220px;
}
.MainChartM .ChartM {
  background: #fff;
  box-shadow: var(--box_shadow);
  padding: 60px;
  border-radius: 10px;
  width: 100%;
  max-height: 100%;
}
.MainChartM .ChartM h1 {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  font-size: 20px;
}

.Card:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}
.Card .num {
  color: var(--main);
  font-size: 35px;
  font-weight: 500;
}
.Card .name {
  font-weight: 600;
  color: #333;
}
.Card:hover .name {
  color: #fff;
}
.Card .icon i {
  color: var(--main);
  font-size: 45px;
}

.Main1 {
  position: absolute;
  top: 60px;
  width: calc(100% - 260px);
  min-height: calc(100vh - 60px);
  left: 260px;
  background: #f5f5f5;
}
.MainCard1 {
  width: 100%;
  padding: 35px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.MainCard1 .Card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: var(--box_shadow);
  transition: 0.2s;
}
.Card:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
}


/* Charts */
.MainChart {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  width: 100%;
  padding: 20px;
  padding-top: 0;
}
.MainChart .Chart {
  background: #fff;
  box-shadow: var(--box_shadow);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
}
.MainChart .Chart h1 {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  font-size: 20px;
}

.MainChart2 {
  display: flex;
  width: 85%;
  padding: 60px;
  padding-top: 80px;
 margin-left: 220px;
}
.MainChart2 .Chart2 {
  background: #fff;
  box-shadow: var(--box_shadow);
  padding: 60px;
  border-radius: 10px;
  width: 100%;
  max-height: 100%;
}
.MainChart2 .Chart2 h1 {
  text-align: center;
  color: #333;
  margin-bottom: 5px;
  font-size: 20px;
}

.CardM:hover {
  background: #fff;
  color: #000;
  cursor: pointer;
}
.CardM .numM {
  color: var(--main);
  font-size: 35px;
  font-weight: 500;
}
.CardM .nameM {
  font-weight: 600;
  color: #333;
}
.CardM:hover .nameM {
  color: #fff;
}
.CardM .icon i {
  color: var(--main);
  font-size: 45px;
}
.cardM {
    width: 30px;

}

/* Media Query */
@media (max-width: 1115px) {
  .SideBar {
    width: 60px;
  }
  .Main {
    left: 60px;
    width: calc(100% - 60px);
  }
}
@media (max-width: 880px) {
  .fa-bell {
    justify-self: left;
  }
  .MainCard {
    padding: 35px 20px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .MainChart {
    grid-template-columns: 1fr;
  }
  .doughnut-chart {
    padding: 50px;
  }
  #doughnut {
    padding: 50px;
  }
}

@media (max-width: 500px) {
  .TopBar {
    grid-template-columns: 1fr 5fr 0.4fr 1fr;
  }
  .logo h1 {
    font-size: 20px;
  }
  .Search {
    width: 80%;
  }
  .Search input {
    padding: 0 20px;
  }
  .fa-bell {
    margin-right: 5px;
  }
  .MainCard {
    grid-template-columns: 1fr;
  }
  .doughnut-chart {
    padding: 10px;
  }
  #doughnut {
    padding: 0px;
  }
  .user {
    height: 40px;
    width: 40px;
  }
}
